:root {
  --font-size-title: 54px;
  --font-weight-title: 600;
  --font-weight-topic: 500;
  --font-weight-questions: 300;
  --font-size-topic: 28px;
  --font-size-container: 36px;
  --font-color: rgb(244, 243, 243);
  --font-color-questions: rgb(91, 88, 88);
  --font-title: handMadeMandala;
  --font-questions: "Sour Gummy";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: handMadeMandala;
  src: url(Assets/Handmade_Mandala.otf);
}

body {
  background-color: rgb(252, 156, 172, 0.7);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  word-spacing: 3px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
main > * {
  color: var(--font-color);
  font-family: var(--font-title);
}
h1 {
  font-weight: var(--font-weight-title);
  padding: 1rem;
}

#grid-box-topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 60px;
  justify-content: center;
  align-items: center;
  gap: 3em;
  /* max-width: 1000px; */
  width: 100%;
}

#grid-box-topics div:nth-child(3n + 1) {
  background: linear-gradient(135deg, rgb(210, 245, 253), rgb(1, 191, 233));
}

#grid-box-topics div:nth-child(3n + 2) {
  background: linear-gradient(135deg, rgb(255, 223, 193), rgb(228, 133, 1));
}

#grid-box-topics div:nth-child(3n + 3) {
  background: linear-gradient(135deg, rgb(234, 197, 250), rgb(165, 23, 253));
}
.grid-item {
  border-radius: 15px;
  color: var(--font-color);
  font-family: var(--font-title);
  font-size: var(--font-size-topic);
  font-weight: var(--font-weight-topic);
  padding: 2em 0.8em;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.grid-item:hover {
  transform: scale(1.1);
  outline: 4px solid var(--font-color);
}
.selected-topic {
  outline: 4px solid var(--font-color);
}
#questions-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-family: var(--font-questions);
  font-weight: var(--font-weight-questions);
  font-size: 1.2em;
}
.question {
  /* font-family: var(--font-questions); */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.option-text {
  border: solid 1px gray;
  background-color: white;
  cursor: pointer;
  text-align: center;
  padding: 10px 30px;
  overflow: auto;
}
.option-pane {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  max-width: 1000px;
}
.correct-answer {
  background-color: rgb(1, 179, 1);
}
.wrong-answer {
  background-color: rgb(218, 2, 2);
}
.options-disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
}
.result-text {
  padding-bottom: 15px;
  font-weight: var(--font-weight-topic);
  color: rgb(61, 61, 161);
}
#score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  color: var(--font-color);
}
#sports {
  background-image: url(Assets/sports.png);
}

#instruction {
  font-size: var(--font-size-topic);
}
#level-picker {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.level {
  border-radius: 15px;
  border: 1px solid gray;
  padding: 10px 40px;
  background-color: azure;
  color: rgb(63, 63, 63);
  font-family: var(--font-title);
  font-size: var(--font-size-topic);
}
.level-picker-selected {
  background-color: rgb(180, 172, 172);
  color: var(--font-color);
}
@media only screen and (max-width: 450px) {
  #grid-box-topics {
    display: flex;
    flex-direction: column;
  }
  .grid-item {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    color: var(--font-color);
    font-family: var(--font-title);
    font-size: var(--font-size-topic);
    font-weight: var(--font-weight-topic);
    padding: 2em 0.8em;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
  }
}
